{% extends 'MyBlog/base.html' %}

{% block content %}
{% include 'MyBlog/header.html' %}
<div class="jumbotron bg-light mx-5 my-1">
    <h3 class="text-center text-danger">About Me</h3>
    <p class="lead text-justify text-dark mt-2">
        Highly motivated and accomplished MSc(IT) graduate with a passion for software development and a strong
        proficiency in Python, Django, HTML, CSS, Bootstrap, and SQL. I am excited to leverage my skills and experience
        gained from working on two major projects to contribute to innovative and impactful solutions.

        Throughout my academic journey, I have honed my programming abilities and cultivated a deep understanding of
        software development principles. My expertise in Python enables me to develop efficient and scalable
        applications, while my proficiency in Django allows me to create robust and secure web solutions. I am adept at
        designing visually appealing and user-friendly interfaces using HTML, CSS, and Bootstrap.

        With a keen eye for detail, I excel at writing efficient SQL queries to manipulate and extract data from
        databases. My experience working on real-world projects has equipped me with strong problem-solving and critical
        thinking skills, allowing me to tackle complex challenges with creativity and precision.

        I thrive in collaborative environments and enjoy working as part of a team to deliver exceptional results. I am
        an effective communicator and always strive to understand the needs of clients and stakeholders, ensuring that I
        deliver solutions that meet and exceed their expectations.

        As I embark on the next phase of my career, I am eager to apply my technical skills, enthusiasm, and dedication
        to make a meaningful impact. If you are seeking a motivated and talented software developer with a solid
        foundation in Python, Django, HTML, CSS, Bootstrap, and SQL, I would welcome the opportunity to connect and
        explore how we can collaborate to achieve mutual success.

        Let's connect and explore how our shared interests and goals can lead to exciting opportunities and valuable
        contributions in the field of software development.
    </p>
    <div class="social text-center">
        <p class="lead"><strong>Connect with me</strong></p>
        <p>
            <a href="https://www.linkedin.com/in/shubham-upadhyay-a7a574195" target="_blank"><span class="m-2 bg-primary text-white px-2 py-1"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://github.com/ShubhamVUpadhyay" target="_blank"><span class="m-2 bg-dark text-white px-2 py-1"><i class="fa fa-github" aria-hidden="true"></i></span></a>
            <a href="https://instagram.com/i_am_shubham_upadhyay01?igshid=NGExMmI2YTkyZg==" target="_blank"> <span class="m-2 bg-danger text-white px-2 py-1"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
            <a href="https://shubham-upadhyay.netlify.app/" target="_blank"><span class="m-2 bg-success text-white px-2 py-1"><i class="fa fa-globe" aria-hidden="true"></i></span></a>
        </p>
    </div>
</div>
{% endblock %}