{% extends 'MyBlog/base.html' %}

{% block content %}
{% include 'MyBlog/header.html' %}
<div class="container-fluid">
  {% if blog %}
  {% if user.is_authenticated %}
  <div class="jumbotron text-center">
    <h2 class="text-primary">Welcome {{user.username|capfirst}}</h2>
  </div>
  {% endif %}
  <form method="get" action="{% url 'blog_search' %}">
    <div class="input-group mt-2" style="max-width: 300px;">
      <input type="text" class="form-control w-25 mx-4" id="search" name="search" placeholder="Search what you want..."
        autocomplete="off">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
  </form>
  <div class="row">
    {% for b in blog %}
    <div class="col-md-6">
      <div class="card m-4 bg-light">
        <div class="card-body">
          <h3 class="card-title">{{b.blog_title}}</h3>
          <p class="card-text lead">{{b.blog_text |truncatechars:500|safe}}</p>
          <p class="text-primary"><span> {{b.author}} | {{b.creation_date}}</span></p>
          <a href="{% url 'details' b.pk %}"><button class="btn btn-primary">Read More <span><i
                  class="fa fa-arrow-right" aria-hidden="true"></i></span></button></a>

        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="jumbotron tex text-center">

    <h4>No blogs have been posted yet</h4>
  </div>

  {% endif %}
</div>
{% include 'MyBlog/footer.html' %}
{% endblock %}