{% extends 'MyBlog/base.html' %}
{% block content %}
{% include 'MyBlog/header.html' %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron">
                <h2 class="mb-3 text-primary">Get Authorship</h2>
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ fn.as_p }}
                    <button type="submit" class="btn btn-primary">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'MyBlog/footer.html' %}
{% endblock %} 
