# Python-specific
__pycache__/
*.pyc

# Database
*.sqlite3

# Static and Media Files
/static/
/media/

# Environment variables
*.env
.env.local

# IDE-specific
.vscode/
.idea/

# Logs and Temporary Files
/logs/
/tmp/

# Virtual Environment
/venv/

# Sensitive Information
/config/settings/local_settings.py

# Static Analysis and Linting
.pylintrc
.flake8
